
// Feature Board
// ------------------------------

.board-feature {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  > div:first-child {
    flex-grow: 1;
    flex-shrink: 0;
    width: 300px;
    max-width: 300px;
  }

  > div:nth-child(2) {
    flex-grow: 4;
  }
}


// Feature List
// ------------------------------

.panel-feature-list {
  .panel-body {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #CCCCCC;
  }
}

.list-feature {
  overflow-y: scroll;
  max-height: 68vh;
}


// Feature Details
// ------------------------------

.panel-feature-details {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > div:first-child {flex-grow: 3;}
  > div:nth-child(2) {flex-grow: 5;}
  > div:nth-child(3) {flex-grow: 0;}
}

.feature-detail-field {
  margin-bottom: 10px;
}

.feature-detail-field-description {
  padding: 20px;
  text-align: left;
  line-height: 1.6em;
}


// Feature Create
// ------------------------------

.panel-feature-create {
  padding: 30px;
}
