footer {
  display: flex;
  justify-content: center;
  padding: 15px;
  border: solid 2px grey;
  min-height: 50px;
  background-color: #333;

}

footer .author {
  color: #F5F5F5;
}
footer .author a {color: #a2b3c6;}
footer .author a:hover {color: #a2b3c6;}
